
.navbar-default {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12pt;
    color: #444443;
    background-color: #ffffff;
    border-color: transparent;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #444443;
}

.navbar-social {
    float: right ! important
}

.navbar-links {
    float: left ! important
}

.navbar-logo-container {
    margin-left: 5%;
}

.navbar-social-button {
    border: 0;
    margin: 0.75em 0.25em 1em 0.2em;
    font-size: 125%
}
.navbar-links-button {
    border: 0;
    margin: 0.75em 0.2em 1em 0.25em;
    font-size: 125%
}

.navbar-separator {
    margin: 1.25em 0 0 0;
}

@media (min-width: 768px) {
    .navbar-links {
        float: right ! important
    }
}

.navbar-logo {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .navbar-logo-container {
        position: absolute;
        width: 66%;
        left: 16%;
        text-align: center;
        margin: auto;
    }
}

