<div id="footer">
  <img id="footer-logo" src="http://res.cloudinary.com/s-mach/image/upload/v1424475928/footer-logo_wvj1s2.png"/>
  <div>
    <div id="footer-links">
      <a class="active" href="#">Home</a>
      <a href="#">How's it work?</a>
      <a href="#">For Interns</a>
      <a href="#">Other Services</a>
      <a href="#">About Us</a>
      <a href="#">Blog</a>
    </div>
    <p id="footer-copyright">Copyright &copy;2015, S-Mach, Inc. All rights reserved.</p>
  </div>
  <a id="footer-button-to-top" href="#">
    <img src="http://res.cloudinary.com/s-mach/image/upload/v1424475928/footer-button-to-top_cqtcia.png"/>
  </a>
</div>