@import models.Nav
@import util._
@import assets._

@()(implicit components: Components)
@import components._

<div id="footer">
  <img id="footer-logo" src="@images.S_MachGearLogo.url"/>
  <div>
    <div id="footer-links">
      @for((title,url) <- Nav.links) {
        <a href="@url">@title</a>
      }
    </div>
    <p id="footer-copyright">Copyright &copy;2015, S-Mach, Inc. All rights reserved.</p>
  </div>
  <a id="footer-button-to-top" href="#">
    <img src="@images.ButtonToTop.url"/>
  </a>
</div>