@import cdn.assets._

@body("hows-it-work") {

<div id="strip-we-learn" class="strip-yellow">
  <div id="container-we-learn" class="container">
    <div class="row">
      <div id="col-we-learn" class="col-lg-4 strip-text">
        <p id="title-we-learn" class="title">We learn your tech stack <b>and your team's Scala code&#8209;style</b></p>
        <img id="divider-we-learn" class="divider" src="@HorizDivider.url"/>
        <p id="explain-we-learn" class="explain">Vestibulum porta, nibh et tincidunt molestie, erat sem faucis bus mauris vel vehicula maurisi. Praesent nictis accumsansine vulputate tristique tristique.</p>
        <div class="cleaved-circle-button">
          Learn more
          <img src="@CleavedCircleButton.url"/>
        </div>
      </div>
      <div id="col-sketch-scala-machine" class="col-lg-8">
        <img id="sketch-we-learn" class="img-responsive sketch" src="@ScalaMachine.url"/>
      </div>
    </div>
  </div>
</div>
<div class="strip-arrow-yellow-to-white"></div>
<div id="strip-we-build" class="strip-white">
  <div id="container-we-build" class="container">
    <div class="row">
      <div id="col-we-build" class="col-lg-4 col-lg-push-8 strip-text">
        <p id="title-we-build" class="title">We build a training plan <b>to match your tech stack</b></p>
        <img id="divider-we-build" class="divider" src="@HorizDivider.url"/>
        <p id="explain-we-build" class="explain">Vestibulum porta, nibh et tincidunt molestie, erat sem faucis bus mauris vel vehicula maurisi. Praesent nictis accumsansine vulputate tristique tristique.</p>
        <div class="cleaved-circle-button">
          Learn more
          <img src="@CleavedCircleButton.url"/>
        </div>
      </div>
      <div id="col-sketch-training-plan" class="col-lg-8 col-lg-pull-4">
        <img id="sketch-we-build" class="img-responsive sketch" src="@TrainingPlan.url"/>
      </div>
    </div>
  </div>
</div>
<div class="strip-arrow-white-to-yellow"></div>
<div id="strip-we-recruit" class="strip-yellow">
  <img id="cloud-we-recruit" class="visible-lg" src="@Cloud2.url"/>
  <div id="container-we-recruit" class="container">
    <div class="row">
      <div id="col-we-recruit" class="col-lg-6 strip-text">
        <p id="title-we-recruit" class="title">We recruit <b>top&#8209;notch interns</b></p>
        <img id="divider-we-recruit" class="divider" src="@HorizDivider.url"/>
        <p id="explain-we-recruit" class="explain">Vestibulum porta, nibh et tincidunt molestie, erat sem faucis bus mauris vel vehicula maurisi. Praesent nictis accumsansine vulputate tristique tristique.</p>
        <div class="cleaved-circle-button">
          Learn more
          <img src="@CleavedCircleButton.url"/>
        </div>
      </div>
      <div id="col-sketch-we-recruit" class="col-lg-6">
        <img id="sketch-we-recruit-horizontal" class="visible-lg img-responsive sketch" src="@WeRecruitHorizontal.url"/>
        <img id="sketch-we-recruit-vertical" class="hidden-lg img-responsive sketch" src="@WeRecruitVertical.url"/>
      </div>
    </div>
  </div>
</div>
<div class="strip-arrow-yellow-to-white"></div>
<div id="strip-we-mentor-train-certify" class="strip-white">
  <div id="container-mentor-train-certify" class="container">
    <div id="container-mentor-train-certify-title" class="row">
      <div id="col-we-mentor-train-certify" class="col-lg-12 strip-text">
        <p id="title-we-mentor-train-certify" class="title">We mentor, train and <b>certify interns in Scala</b></p>
        <img id="divider-we-mentor-train-certify" class="divider" src="@HorizDivider.url"/>
        <p id="explain-we-mentor-train-certify" class="explain">Vestibulum porta, nibh et tincidunt molestie, erat sem faucis bus mauris vel vehicula maurisi. Praesent nictis accumsansine vulputate tristique tristique.</p>
        <div class="cleaved-circle-button">
          Learn more
          <img src="@CleavedCircleButton.url"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="col-recruit" class="col-lg-4">
        <img id="sketch-mentor" class="sketch" src="@Mentor.url"/>
        <div class="ribbon">
          <img src="@WhiteBkgRibbon.url"/>
          <p><b>Mentor</b></p>
        </div>
      </div>
      <div id="col-train" class="col-lg-4">
        <img id="sketch-train" class="sketch" src="@WhiteBkgTrain.url"/>
        <div class="ribbon">
          <img src="@WhiteBkgRibbon.url"/>
          <p><b>Train</b></p>
        </div>
      </div>
      <div id="col-certify" class="col-lg-4">
        <img id="sketch-certify" class="sketch" src="@Certify.url"/>
        <div class="ribbon">
          <img src="@WhiteBkgRibbon.url"/>
          <p><b>Certify</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="strip-arrow-white-to-yellow"></div>
<div id="strip-you-interview-them" class="strip-yellow">
  <div id="container-you-interview-them" class="container">
    <div class="row">
      <div id="col-you-interview-them" class="col-lg-4 strip-text">
        <p id="title-you-interview-them" class="title">You <b>interview them</b></p>
        <img id="divider-you-interview-them" class="divider" src="@HorizDivider.url"/>
        <p id="explain-you-interview-them" class="explain">Vestibulum porta, nibh et tincidunt molestie, erat sem faucis bus mauris vel vehicula maurisi. Praesent nictis accumsansine vulputate tristique tristique.</p>
        <div class="cleaved-circle-button">
          Learn more
          <img src="@CleavedCircleButton.url"/>
        </div>
      </div>
      <div id="col-sketch-you-interview-them" class="col-lg-8">
        <img id="sketch-you-interview-them" class="img-responsive sketch" src="@YouInterviewThem.url"/>
      </div>
    </div>
  </div>
</div>
<div class="strip-arrow-yellow-to-white"></div>
<div id="strip-we-place" class="strip-white">
  <div id="container-we-place" class="container">
    <div class="row">
      <div id="col-we-place" class="col-lg-4 col-lg-push-8 strip-text">
        <p id="title-we-place" class="title">We place them <b>with your team</b></p>
        <img id="divider-we-place" class="divider" src="@HorizDivider.url"/>
        <p id="explain-we-place" class="explain">Vestibulum porta, nibh et tincidunt molestie, erat sem faucis bus mauris vel vehicula maurisi. Praesent nictis accumsansine vulputate tristique tristique.</p>
        <div class="cleaved-circle-button">
          Learn more
          <img src="@CleavedCircleButton.url"/>
        </div>
      </div>
      <div id="col-sketch-we-place" class="col-lg-8 col-lg-pull-4">
        <img id="sketch-we-place" class="img-responsive sketch" src="@WePlace.url"/>
      </div>
    </div>
  </div>
</div>
<div class="strip-arrow-white-to-offwhite"></div>
@customers("strip-offwhite")

}